body {
  margin: 0px;;
}
p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.flex-container {
  display: flex;
}

.center-item {
  justify-content: center;
}

.nav-container {
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.title-navbar {
  font-size: 2rem;
}

.title-navbar-size {
  width: 100%;
  height: 100%;
}

.banner-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner-size {
  font-size: 3rem;
}

.title-banner {
  padding: 1rem;
}

.img-fluid {
  max-width: auto;
  height: auto;
}

.img-border {
    border-radius: 0.25rem;
  }

.banner-background-color {
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(212,0,0,1) 100%);
}

.font-trans {
  text-transform: capitalize;
}